- row += 1
- directory.children.each_with_index do |child, index|
  %i.fa.fa-folder.fa-stack-2x{style: "margin-left:#{index}em; margin-top:#{row}em;"}
  = render partial: 'directories/directory', locals: { directory: child, row: row }

- directory.records.each do |record|
  = render partial: 'records/record', locals: { record: record }
