.col.l3.m6.s12
  .directory{ id: "dir_#{directory.id}", data: { id: directory.id, name: directory.name } }
    .folder.relative{ id: "dir_#{directory.id}", data: { id: directory.id, name: directory.name } }
      %i.fa.fa-folder-o.fa-5x.light
    = link_to directory.name, root_url(subdomain: current_account ? current_account.subdomain : 'app', id: directory.id)
