= link_to directory_path(subdomain: current_account.subdomain, id: directory.id), remote: true, class: 'directory-link' do
  .directory.relative{ id: "dir_#{directory.id}", data: { id: directory.id, name: directory.name, parent_id: directory.parent.id } }
    %i.fa.fa-folder-o.fa-5x.light
    %p= directory.name

