= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Ubuntu+Mono'

.terminal{ data: { account: current_account ? current_account.subdomain : '', user: current_user.email } }
  .inline-block.miniterm
    %input{ type: 'text', id: 'terminalInput', autofocus: true }
    .line.active{ data: { line: 1, account: current_account ? current_account.subdomain : '', user: current_user.email } }
      %span#timestamp.timestamp
      - if current_account
        %span#account #{current_account.subdomain}:
      %span#user= current_user.email
      %span#directory
      %span#dollar.dollar $
      %span.textOutput
      .cursor#cursor
        %span.visible _
      %span.termOutput
