- @root.children.each_slice(6) do |row|
  .row
    - row.each do |child|
      .col.l3.m6.s12
        .folder.relative{ id: "dir_#{child.id}" }
          %i.fa.fa-folder-o.fa-5x.light

= javascript_include_tag 'directories'

