.folders{ data: { id: @root.id } }
  .row
    - @root.children.each do |child|
      = render partial: 'directories/directory', locals: { directory: child }
  .row
    - @root.records.each do |record|
      = render partial: 'records/record', locals: { record: record }

= render partial: 'terminal'
= javascript_include_tag 'directories'
