$dark: #272838;
$greygreen: #5B6057;
$light: #E6EFE9;
$teal: #3C6E71;
$midnight: #000022;

$colours: (
  ($dark, 'dark'),
  ($greygreen, 'greygreen'),
  ($light, 'light'),
  ($teal, 'teal'),
  ($midnight, 'midnight')
);

@each $group in $colours {
  $colour: #{nth($group, 1)};
  $name: #{nth($group, 2)};
  .bg-#{$name} {
    background-color: #{$colour};
  }
  .#{$name} {
    color: #{$colour};
  }
  .border-#{$name} {
    border: 3px solid #{$colour};
    border-radius: 5px;
  }
}
