/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "colours";
@import "materialize";
@import "font-awesome";
$hamburger-layer-color: $light;
@import "hamburgers";

.body {
  overflow: hidden;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.float-right {
  float: right
}

.float-left {
  float: left
}

.directories {
  a {
    display: inline-block;
  }
}

.directory {
  width: 140px;
  height: 140px;
  i {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  p {
    position: absolute;
    bottom: 0%;
    left: 25%;
  }
}

.relative {
  position: relative;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.term {
  position: absolute;
  bottom: 0;
}

.terminal-nav {
  position: relative;
  width: 100vw;
  height: 30vh;
  top: 0;
  overflow: hidden;
  transition: all 1s;
  background: #002B36;
  border-top: 2px solid white;
}

.close {
  top: 30vh;
  height: 0;
}

.fa-terminal {
  cursor: pointer;
}

